.contact {border: 2px solid}

.senavblue {background-color: #032765}

#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 10%, 10%;
  border-radius: 80%;
  border: 1px solid white;
  background-color: white;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 29px;
  color: #06235a;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 29px;
  color: #06235a;
}